<!-- 'mat-toolbar' è un componente di Angular Material che crea una barra degli strumenti (toolbar).
     È un componente stilizzato che può contenere titoli, pulsanti o altri elementi. -->
     <mat-toolbar>
        <!-- Qui puoi inserire contenuti nella toolbar, come titoli, menu, pulsanti, ecc. IN QUESTO CASO il titolo della page -->
        <span>{{ title }}</span>
    </mat-toolbar>
    
    <!-- 'div' è un tag HTML standard che definisce una sezione o un contenitore nel documento.
         La classe 'page-wrapper' è probabilmente definita nel CSS associato per dare uno stile specifico a questo div. -->
    <div class="page-wrapper">
        <!-- 'router-outlet' è un placeholder che Angular utilizza per inserire il componente appropriato 
             in base all'URL corrente. Questo è parte del sistema di routing di Angular. 
             Quando l'utente naviga in diverse parti dell'app, il contenuto visualizzato dentro 'router-outlet' 
             cambia di conseguenza. -->
        <router-outlet></router-outlet>
    </div>
    